<!DOCTYPE html>
<html>
<head>
    <title>My Trips</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <script src="my-script.js"></script>
</head>
<body>

    <h2 class="title">{{name}}</h2>
    <div id="container"></div>

    <script id="template" type="text/x-handlebars-template">
        <div class="container">
            <div class="box">
                <h2>Trip 1</h2>
                <div class="grid-box">
                    {{#each itinerary}}
                    <div class="grid-item">
                        <p>{{this.events}}</p>
                    </div>
                    {{/each}}
                    <h3>{{startDate}} - {{endDate}}</h3>
                </div>
            </div>
            <div class="box">
                <h2>Trip 2</h2>
                <div class="grid-box">
                    <div class="grid-item">        
                        <div class="grid-item">
                            <p>{{itinerary.events}}</p>
                        </div>
                    </div>
                    <h3>{{startDate}} - {{endDate}}</h3>
                </div>
            </div>
            <div class="box">
                <h2>Trip 3</h2>
                <div class="grid-box">
                    <div class="grid-item">        
                        <div class="grid-item">
                            <p>{{itinerary.events}}</p>
                        </div>
                    </div>
                    <h3>{{startDate}} - {{endDate}}</h3>
                </div>
            </div>
        </div>
    </script>

</body>
</html>

    <script src=".public/js/trips.js"></script>


    