<h2 class="title">{{name}}</h2>
<div class="container">
    <div class="box">
        <h2>Trip 1</h2>
        <div class="grid-box">
            {{#each itinerarys as |itinerary|}}
            <div class="grid-item">
                <p>{{itinerary.events}}</p>
            </div>
            {{/each}}
        </div>
        <h3>{{startDate}} - {{endDate}}</h3>
    </div>
    <div class="box">
        <h2>Trip 2</h2>
        <div class="grid-box">
            <div class="grid-item">
                {{#each itinerarys as |itinerary|}}
                <div class="grid-item">
                    <p>{{itinerary.events}}</p>
                </div>
                {{/each}}
            </div>
            <h3>{{startDate}} - {{endDate}}</h3>
        </div>
    </div>
    <div class="box">
        <h2>Trip 3</h2>
        <div class="grid-box">
            <div class="grid-item">
                {{#each itinerarys as |itinerary|}}
                <div class="grid-item">
                    <p>{{itinerary.events}}</p>
                </div>
                {{/each}}
            </div>
            <h3>{{startDate}} - {{endDate}}</h3>
        </div>
    </div>